
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bingo Popout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <style type="text/css">
    	html, body {
    		height: 100%;
    		width: 100%;
    		margin: 0;
    		padding: 0;
        overflow: hidden;
    	}
    </style>
</head>
<body>
  <table class="bingo-popout bingo-element">
	<th style="height: 20px">
		<%= row %>
	</th>
  <% for (var i = 0; i < size; i++) { %>
	<tr style="height: calc(<%= 100 / size %>vh - <%= 20 / size %>px">
		<td class="square"><%= goals[i] %></td>
	</tr>
  <% } %>

</table>

<script src="/js/bingo-board.js"></script>
</body>
</html>
